### 1、创建一个空列表 score；

In [170]:
score = []
print(score)

[]

### 2、调用append()函数在 score 列表中依次追加 10 个数值： 
### （68,87,92,100,76,88,54,89,76,61）；

In [171]:
for x in [68,87,92,100,76,88,54,89,76,61]:
    score.append(x)
print(score)

[68, 87, 92, 100, 76, 88, 54, 89, 76, 61]

### 3、输出score 列表中第 3 个元素的数值；

In [172]:
print(score[2])

92

### 4、输出score 列表中第 1~6 个元素的值；

In [173]:
print(score[:6])

[68, 87, 92, 100, 76, 88]

### 5、调用insert()函数，在 score 列表第3 个元素之前添加数值 59；

In [174]:
score.insert(2, 59)
print(score)

[68, 87, 59, 92, 100, 76, 88, 54, 89, 76, 61]

### 6、利用变量 num 保存数值 76,调用 count()函数，查询 num 变量值在 score 列表中出现的次数；

In [175]:
num = 76
print(score.count(num))

2

### 7、使用in 查询score列表中是否有num 变量值的考试成绩；

In [176]:
print(num in score)

True

### 8、调用index()函数，查询 score 列表中成绩是满分的学生学号；

In [177]:
print(score)
print(score.index(100))

[68, 87, 59, 92, 100, 76, 88, 54, 89, 76, 61]
4

### 9、score 列表中将 59分加1 分；

In [178]:
# 1)
score[2] += 1
print(score)
# 2)
# score[score.index(59)] += 1
# print(score)

[68, 87, 60, 92, 100, 76, 88, 54, 89, 76, 61]

### 10、调用del()函数删除 score 列表中第1 个元素；

In [179]:
del score[0]
print(score)

[87, 60, 92, 100, 76, 88, 54, 89, 76, 61]

### 11、调用len()函数获得 score 列表中元素的个数；

In [180]:
print(len(score))

10

### 12、调用sort()函数，对列表中所有元素进行排序，输出考试的最高分和最低分；

In [181]:
print(score)
score.sort()
print(score)
print(score[0])
print(score[-1])

[87, 60, 92, 100, 76, 88, 54, 89, 76, 61]
[54, 60, 61, 76, 76, 87, 88, 89, 92, 100]
54
100

### 13、调用reverse()函数，颠倒score 列表中元素的顺序；

In [182]:
score.reverse()
print(score)

[100, 92, 89, 88, 87, 76, 76, 61, 60, 54]

### 14、调用pop()函数删除 score 列表中尾部的元素，返回删除的元素；

In [183]:
n = score.pop()
print(score)
print(n)

[100, 92, 89, 88, 87, 76, 76, 61, 60]
54

### 15、score 列表中追加数值 88，并输出。调用 remove()函数删除 score 列表中第一个数值88；

In [184]:
score.append(88)
print(score)
score.remove(88)
print(score)

[100, 92, 89, 88, 87, 76, 76, 61, 60, 88]
[100, 92, 89, 87, 76, 76, 61, 60, 88]

### 16、创建2 个列表 score1 和score2， score1 中包含数值2个元素值： 80,61， score2中包含3个元素值：71,95，82，合并这两个列表，并输出全部元素；

In [185]:
score1 = [80, 61]
score2 = [71, 95, 82]
# 1)
score3 = score1 + score2
print(score3)
# 2)
score1.extend(score2)
print(score1)

[80, 61, 71, 95, 82]
[80, 61, 71, 95, 82]

### 17、创建score1 列表，其中包含数值 2 个元素值：80,61，将 score1中元素复制5遍保存在score2 列表中，输出score2 列表中全部元素

In [186]:
score1 = [80, 61]
score2 = score1 * 5
print(score2)

[80, 61, 80, 61, 80, 61, 80, 61, 80, 61]