### Pandas -Series数据对象

#### （1）创建如下表的Series数据对象，其中a-f为索引
a | b | c | d | e | f
- | :-: | :-: | :-: | :-: |-:
30 | 25 | 27 | 41 | 25 | 34

In [67]:
import pandas as pd

# 创建一个字典，其中键是索引，值是对应的数据
data = {'a': 30, 'b': 25, 'c': 27, 'd': 41, 'e': 25, 'f': 34}

# 使用字典创建Series对象
series = pd.Series(data)

print(series)

a    30
b    25
c    27
d    41
e    25
f    34
dtype: int64

#### （2）增加数据27，索引为g

In [68]:
series.loc['g'] = 27
print(series)

a    30
b    25
c    27
d    41
e    25
f    34
g    27
dtype: int64

#### （3）修改索引d对应的值为40；

In [69]:
series.loc['d'] = 40
print(series)

a    30
b    25
c    27
d    40
e    25
f    34
g    27
dtype: int64

#### （4）查询值大于27的数据；

In [70]:
print(series[series>27])

a    30
d    40
f    34
dtype: int64

#### （5）删除位置为1-3的数据。

In [71]:
print(series.drop(series.index[1:4]))

a    30
e    25
f    34
g    27
dtype: int64

### Pandas -DataFrame数据对象

#### （1）创建3×3DataFrame数据对象：数据内容为1-9；行索引为字符a，b，c；列索引为字符串one，two，three；

In [72]:
import pandas as pd
import numpy as np

# （1）创建3×3 DataFrame数据对象
data = np.arange(1, 10).reshape(3, 3)
index = ['a', 'b', 'c']
columns = ['one', 'two', 'three']
df = pd.DataFrame(data, index=index, columns=columns)

print("原始DataFrame:")
print(df)

原始DataFrame:
   one  two  three
a    1    2      3
b    4    5      6
c    7    8      9

#### （2）查询列索引为two和three两列数据；

In [73]:
# （2）查询列索引为two和three两列数据
df_two_three = df[['two', 'three']]

print("\n列索引为two和three的数据:")
print(df_two_three)

列索引为two和three的数据:
   two  three
a    2      3
b    5      6
c    8      9

#### （3）查询第0行、第2行、第0列、第2列数据；

In [74]:
# （3）查询第0行、第2行、第0列、第2列数据
df_02_02 = df.loc[['a', 'c'], ['one', 'three']]

print("\n第0行、第2行、第0列、第2列的数据:")
print(df_02_02)

第0行、第2行、第0列、第2列的数据:
   one  three
a    1      3
c    7      9

#### （4）筛选第1列中值大于2的所有行数据，另存为data1对象；

In [75]:
# （4）筛选第1列中值大于2的所有行数据，另存为data1对象
data1 = df[df['one'] > 2]

print("\n第1列中值大于2的所有行数据:")
print(data1)

第1列中值大于2的所有行数据:
   one  two  three
b    4    5      6
c    7    8      9

#### （5）为data1添加一列数据，列索引为four，值都为10；

In [76]:
# （5）为data1添加一列数据，列索引为four，值都为10
data1['four'] = 10

print("\n添加列four后的数据1:")
print(data1)

添加列four后的数据1:
   one  two  three  four
b    4    5      6    10
c    7    8      9    10

/var/folders/tq/r9wfk6gs37b7v8sg2rr0pcc00000gn/T/ipykernel_79742/4172554502.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['four'] = 10

#### （6）将data1所有值大于9的数据修改为8；

In [77]:
# （6）将data1所有值大于9的数据修改为8
data1[data1 > 9] = 8

print("\n将所有值大于9的数据修改为8后的数据1:")
print(data1)

将所有值大于9的数据修改为8后的数据1:
   one  two  three  four
b    4    5      6     8
c    7    8      9     8

/var/folders/tq/r9wfk6gs37b7v8sg2rr0pcc00000gn/T/ipykernel_79742/3227153631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1[data1 > 9] = 8
/var/folders/tq/r9wfk6gs37b7v8sg2rr0pcc00000gn/T/ipykernel_79742/3227153631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1[data1 > 9] = 8

#### （7）删除data1中第0行和第1行数据。

In [78]:
# （7）删除data1中第0行和第1行数据
data1 = data1.drop(data1.index[[0, 1]])

print("\n删除第0行和第1行数据后的data1:")
print(data1)

删除第0行和第1行数据后的data1:
Empty DataFrame
Columns: [one, two, three, four]
Index: []